
           <div class="col-md-3">
                <ul class="list-group">
                  <li class="list-group-item">
                      <a href="{% url 'blog_create' %}">Add News
                          <i class="fa fa-plus"></i>
                      </a>
                  </li>
                     <li class="list-group-item">
                      <a href="{% url 'allnews' %}">View News
                          <i class="fa fa-dashboard"></i>
                      </a>
                  </li>

                </ul>
           </div>